@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #1f32af;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #222222;
}



#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 10px 25px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  border-radius: 5px;
  font-size: 17px;
}

.send {
  cursor: pointer;
  padding: 5px 10px 4px;
  text-align: center;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  border-radius: 5px;
}

.send svg {
  width: 24px;
  height: 24px;
}

/* Chat Page */

.chat-container {
  width: 98vw;
  background: #fff;
  margin: 1% auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 98vh;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-messages {
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  scroll-behavior: smooth;
  border: 1px solid var(--dark-color-a);
}

.message {
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}


.message .user {
  font-size: 15px;
  background-color: var(--dark-color-a);
  color: var(--white);
  margin-bottom: 7px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0;
}

.msg-right {
  flex-direction: row-reverse;
}

.msg-left .user {
  margin-right: 10px;
}

.msg-right .user {
  order: 1;
  margin-left: 10px;
  background-color: var(--dark-color-b);
}

.msg {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-color);
  padding: 14px 20px;
}

.msg-right .msg {
  order: 2;
  border-radius: 20px;
  border-top-right-radius: 0;
}

.msg-left .msg {
  border-radius: 20px;
  border-top-left-radius: 0;
}

.chat-form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--dark-color-a);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
  border: 1px solid var(--dark-color-a);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Join Page */
.join-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  border: 1px solid var(--dark-color-b);
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark-gray);
}

.join-main input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  width: 100%;
}